
<h2>Headings</h2>
<div class="c-table-flex">
  <div class="c-table-flex__cell">
    <div class="c-table-flex__content" id="typo-head-one">h1. Heading 1</div>
    <div class="c-table-flex__content">
      <ul class="c-table-flex__list">
        <li class="c-table-flex__item c-table-flex__list-head">Características</li>
        <li class="c-table-flex__item">Tamanho: 36px</li>
        <li class="c-table-flex__item">Font-weight: 300 / Regular</li>
        <li class="c-table-flex__item">Cor: #333333</li>
      </ul>
    </div>
  </div>
  <div class="c-table-flex__cell">
    <div class="c-table-flex__content" id="typo-head-two">h2. Heading 2</div>
    <div class="c-table-flex__content">
      <ul class="c-table-flex__list">
        <li class="c-table-flex__item c-table-flex__list-head">Características</li>
        <li class="c-table-flex__item">Tamanho: 30px</li>
        <li class="c-table-flex__item">Font-weight: 300 / Regular</li>
        <li class="c-table-flex__item">Cor: #333333</li>
      </ul>
    </div>
  </div>
  <div class="c-table-flex__cell">
    <div class="c-table-flex__content" id="typo-head-three">h3. Heading 3</div>
    <div class="c-table-flex__content">
      <ul class="c-table-flex__list">
        <li class="c-table-flex__item c-table-flex__list-head">Características</li>
        <li class="c-table-flex__item">Tamanho: 24px</li>
        <li class="c-table-flex__item">Font-weight: 300</li>
        <li class="c-table-flex__item">Cor: #333333</li>
      </ul>
    </div>
  </div>
  <div class="c-table-flex__cell">
    <div class="c-table-flex__content" id="typo-head-four">h4. Heading 4</div>
    <div class="c-table-flex__content">
      <ul class="c-table-flex__list">
        <li class="c-table-flex__item c-table-flex__list-head">Características</li>
        <li class="c-table-flex__item">Tamanho: 18px</li>
        <li class="c-table-flex__item">Font-weight: 300</li>
        <li class="c-table-flex__item">Cor: #333333</li>
      </ul>
    </div>
  </div>
  <div class="c-table-flex__cell">
    <div class="c-table-flex__content" id="typo-head-five">h5. Heading 5</div>
    <div class="c-table-flex__content">
      <ul class="c-table-flex__list">
        <li class="c-table-flex__item c-table-flex__list-head">Características</li>
        <li class="c-table-flex__item">Tamanho: 14px</li>
        <li class="c-table-flex__item">Font-weight: 300</li>
        <li class="c-table-flex__item">Cor: #333333</li>
      </ul>
    </div>
  </div>
  <div class="c-table-flex__cell">
    <div class="c-table-flex__content" id="typo-head-six">h6. Heading 6</div>
    <div class="c-table-flex__content">
      <ul class="c-table-flex__list">
        <li class="c-table-flex__item c-table-flex__list-head">Características</li>
        <li class="c-table-flex__item">Tamanho: 12px</li>
        <li class="c-table-flex__item">Font-weight: 300</li>
        <li class="c-table-flex__item">Cor: #333333</li>
      </ul>
    </div>
  </div>
</div>

<h2>Parágrafos</h2>
<div class="c-table-flex">
  <div class="c-table-flex__cell">
    <div class="c-table-flex__content" id="typo-text">Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Curabitur tincidunt iaculis euismod. Nulla facilisi.
      Phasellus eleifend nulla a sapien tincidunt luctus. Fusce laoreet erat
      tellus, quis lobortis augue sodales sit amet. Duis nisi dui, volutpat nec
      dolor ut, fermentum ornare eros. Aenean lacinia imperdiet fermentum. Nunc
      at sodales tortor. Pellentesque at velit laoreet, finibus sem eget,
      interdum mauris.</div>
    <div class="c-table-flex__content">
      <ul class="c-table-flex__list">
        <li class="c-table-flex__item c-table-flex__list-head">Características</li>
        <li class="c-table-flex__item">Tamanho: 14px</li>
        <li class="c-table-flex__item">Font-weight: 300</li>
        <li class="c-table-flex__item">Estilo: normal</li>
        <li class="c-table-flex__item">Cor: #333333</li>
      </ul>
    </div>
  </div>
</div>
