<p><b>User Experience</b> não é uma disciplina binária, onde existe o “certo” e o “errado”. Mas apesar da inexatidão e subjetividade da experiência do usuário, existem algumas boas práticas que podem ser úteis para todos da equipe.</p>

<p>Confira algumas perguntas que podem te ajudar quando estiver projetando uma experiência para as outras pessoas.</p>
<br>
<div style="text-align: center !important;">
<h3 >Uma boa experiência do usuário é...</h3><br><br>
<img src="../resources/simples.jpeg" />
<br>
<br>
<table>
  <tr>
    <th>Reduzir</th>
    <th>Revelar</th>
  </tr>
  <tr>
    <td>É possível retirar algum elemento ou informação da tela e ainda assim permitir que o usuário consiga cumprir a tarefa sem problemas?</td>
    <td>Você está revelando as informações progressivamente, à medida em que o usuário avança no fluxo? É possível esconder alguma parte da tela e só exibi-la após alguma ação do usuário?</td>
  </tr>
    <tr>
    <th><br><br>Simplificar</th>
    <th><br><br>Padronizar</th>
  </tr>
  <tr>
    <td>As informações estão sendo apresentadas da forma mais simples possível, em pequenas doses? É possível reduzir textos ou ocultar alguns elementos naquele momento específico da experiência?</td>
    <td>O visual da tela está consistente? Você está usando o mesmo estilo visual para elementos que possuem funções similares? Você está reaproveitando padrões de interação em diferentes partes do produto?</td>
  </tr>
    <tr>
    <th><br><br>Priorizar</th>
    <th><br><br>Adiar</th>
  </tr>
  <tr>
    <td>É possível esconder ou despriorizar visualmente algumas ações, para que a ação primária receba mais importância? Se existem gatilhos escondidos na tela, eles são “descobríveis” de alguma forma (por acidente, por um tutorial)?</td>
    <td>É possível reduzir ou retirar algum campo do formulário? Você está realmente usando todas as informações coletadas? É possível coletar algum desses dados em um momento futuro do fluxo do usuário?</td>
  </tr>
    <tr>
    <th><br><br>Testar</th>
    <th><br><br>Analisar</th>
  </tr>
  <tr>
    <td>A usabilidade do sistema já foi testada com usuários reais? Existe uma solução para os problemas mais comuns que os usuários encontram ao interagirem com o produto?</td>
    <td>O time está usando as métricas existentes (ex: Google Analytics) da melhor forma possível? Quais são pequenos ajustes que podem ser feitos na interface para otimizar a conversão de usuários?</td>
  </tr>
</table>
<br><br><br><br>
<img src="../resources/acionavel.jpeg" />
<br>
<br>
<table>
  <tr>
    <th>Direcionar</th>
    <th>Explicar</th>
  </tr>
  <tr>
    <td>Está claro para o usuário a ação principal que ele deve tomar naquele momento ou naquela tela?</td>
    <td>O rótulo da ação está claro e diz ao usuário o que vai acontecer após ele clicar ou interagir? É possível deixar ainda mais claro?</td>
  </tr>
    <tr>
    <th><br><br>Indicar</th>
    <th><br><br>Incentivar</th>
  </tr>
  <tr>
    <td>Os botões e links têm a aparência apropriada para explicar ao usuário que ele pode interagir com eles?</td>
    <td>Os textos da tela estão incentivando o usuário a seguir adiante? O usuário tem acesso às informações necessárias para continuar se movendo pelo fluxo, sem precisar fazer desvios de rota?</td>
  </tr>
    <tr>
    <th><br><br>Situar</th>
    <th><br><br>Informar</th>
  </tr>
  <tr>
    <td>O usuário consegue se localizar dentro da estrutura da tela naquele momento? Está claro para ele qual o estado do sistema? Ele sabe em que passo está dentro do fluxo e quantos passos faltam para ele concluir a tarefa?</td>
    <td>O usuário tem acesso a todas as informações necessárias para seguir adiante?</td>
  </tr>
    <tr>
    <th><br><br>Ajudar</th>
    <th><br><br>Continuar</th>
  </tr>
  <tr>
    <td>Quando uma mensagem de erro é exibida, está claro para o usuário o que causou o erro e o que ele deve fazer para corrigi-lo?</td>
    <td>O sistema evita criar ruas-sem-saída para o usuário? Você está sugerindo ações para o usuário em cada passo do fluxo?</td>
  </tr>
</table>
<br><br><br><br>
<img src="../resources/inteligente.jpg" />
<br>
<br>
<table>
  <tr>
    <th>Destacar</th>
    <th>Prevenir</th>
  </tr>
  <tr>
    <td>Qual a ação mais comum que o usuário busca quando interage com o sistema? É possível destacar essa ação em detrimento de outras? É possível criar atalhos para as ações mais comuns em determinada tela?</td>
    <td>O sistema previne erros antes deles acontecerem? Olhando para as métricas: quais os erros mais comuns que os usuários cometem? Como antecipar esses erros e deixar as instruções mais claras para que eles não aconteçam?</td>
  </tr>
    <tr>
    <th><br><br>Tolerar</th>
    <th><br><br>Personalizar</th>
  </tr>
  <tr>
    <td>O sistema é tolerante com distrações e erros do usuário? É possível “perdoar” alguns erros no meio do caminho? O usuário consegue desfazer ações com facilidade?</td>
    <td>Você está usando as informações que possui sobre o usuário da melhor forma? Com essas informações que você possui, como você pode facilitar a vida do usuário ou fazer a experiência ser mais personalizada para suas necessidades?</td>
  </tr>
    <tr>
    <th><br><br>Automatizar</th>
    <th><br><br>Extrapolar</th>
  </tr>
  <tr>
    <td>É possível automatizar algum processo para simplificar o nível de esforço requerido do usuário? É possível utilizar algum sensor ou outra fonte de informação ao invés de pedir que o usuário manualmente a adicione?</td>
    <td>Você está aproveitando outros sentidos como tato e audição para transmitir a mensagem para o usuário?</td>
  </tr>
    
</table>
<br><br><br><br>
<img src="../resources/agradavel.jpeg" />
<br>
<br>
<table>
  <tr>
    <th>Humanizar</th>
    <th>Considerar</th>
  </tr>
  <tr>
    <td>O tom de voz dos textos da interface estão alinhados com a personalidade da sua marca? Se sua marca fosse uma pessoa, como ela conversaria com os usuários? Qual vocabulário ela usaria?</td>
    <td>O sistema evita criar desvios de rota na experiência? Todas as ações que você pede para o usuário são extremamente necessárias para o objetivo que ele tem em mente ao usar seu produto?</td>
  </tr>
    <tr>
    <th><br><br>Alinhar</th>
    <th><br><br>Explicar</th>
  </tr>
  <tr>
    <td>As imagens utilizadas na interface estão alinhadas com o branding da empresa? </td>
    <td>Está claro para o usuário porque o sistema está solicitando determinadas informações? A troca é justa? O usuário vê com clareza o benefício em fornecer aqueles dados?</td>
  </tr>
    <tr>
    <th><br><br>Facilitar</th>
    <th><br><br>Agilizar</th>
  </tr>
  <tr>
    <td>O tamanho dos elementos da interface são suficientes para que o usuário interaja com eles em todos os dispositivos em que o produto é acessado? Os textos são legíveis o suficiente? Há contraste e hierarquia nos tamanhos de fonte?</td>
    <td>Você está usando o tempo do usuário com parcimônia? Quando uma ação toma muito tempo para ser concluída, o sistema permite que ele faça outras coisas no meio tempo?</td>
  </tr>
    <tr>
    <th><br><br>Mover</th>
    <th><br><br>Surpreender</th>
  </tr>
  <tr>
    <td>As animações e transições de interface estão sendo usadas da melhor forma para dar feedback ao usuário sobre suas ações e para expressar a personalidade da marca?</td>
    <td>O sistema proporciona agradáveis surpresas para os usuários no decorrer da experiência?</td>
  </tr>
</table>
<br><br><br><br>
<img src="../resources/relevante.jpeg" />
<br>
<br>
<table>
  <tr>
    <th>Entregar</th>
    <th>Acompanhar</th>
  </tr>
  <tr>
    <td>As funcionalidades do produto são realmente as que o usuário espera encontrar? Você já testou o seu produto com usuários reais?</td>
    <td>Olhando para as métricas do produto: quais seções ou funcionalidades estão sendo pouco acessadas? Isso é necessariamente um problema para os objetivos de negócios da empresa? É possível eliminar funções irrelevantes para a proposição de valor do produto?</td>
  </tr>
    <tr>
    <th><br><br>Refletir</th>
    <th><br><br>Consultar</th>
  </tr>
  <tr>
    <td>Por que as pessoas usariam o seu produto ao invés de um produto concorrente? Por que elas deixariam de fazer aquela atividade do jeito que já fazem, para começarem a fazer usando o seu produto?</td>
    <td>Para perguntar aos usuários: no final da experiência o produto está entregando o que se propõe a fazer?</td>
  </tr>
    <tr>
    <th><br><br>Escolher</th>
    <th><br><br>Melhorar</th>
  </tr>
  <tr>
    <td>As tecnologias escolhidas para sustentar o produto são compatíveis com as tecnologias às quais os usuários têm acesso? Os usuários dominam essas tecnologias? Alguma delas pode estar se tornando uma barreira para novos usuários?</td>
    <td>Você está usando informações colhidas dos usuários (qualitativamente ou quantitativamente) para fazer melhorias no produto? Quais novas funcionalidades eles esperam ver? Como aperfeiçoar os principais fluxos?</td>
  </tr>
    
</table>
</div>