
form.search-form {
	margin: 20px 0;
}

textarea,
input[type="text"] {
	width: 100%;
	padding: 9px;
	font-size: 18px;
	display: block;
	box-sizing: border-box;
	background-color: $color-utility-input-text;
	border: none;
	border-radius: 2px;
}

textarea {
	height: 250px;
	line-height: 1.5em;
	border: 1px solid $color-gray-07;
	resize: none;
}

label {
	margin: 30px 0 10px 0;
	display: block;
}

input[type="submit"] {
	display: none;
	margin: 30px 0 0 0;
	font-size: 20px;
}

#search-results {
	list-style: none;
}

.search {
	margin: 0 auto;
	padding: 0;
}
