/*------------------------------------*\
	#TABLE
\*------------------------------------*/

/**
 * 1) Data Table
 */
.c-table {
	margin-bottom: 1rem;
	min-width: 600px; /* 2 */
}

/**
 * Table Header
 */
.c-table__header {
	background: $color-gray-07;
}

/**
 * Table Header Cell
 */
.c-table__header-cell {
	padding: 0.8rem;
}

/**
 * Table Row
 */
.c-table__row {
	border-bottom: 1px solid $color-gray-07;
}

/**
 * Table Cell
 */
.c-table__cell {
	padding: 1.6rem 0.8rem;
}

/**
 * Table Footer
 */
.c-table__footer {

}

/**
 * Table Footer Cell
 */
.c-table__footer-cell {
	padding: 0.8rem;
}



/*------------------------------------*\
	#TABLE FLEX
\*------------------------------------*/

.c-table-flex {
	margin: 0;
	padding: 0;
}

.c-table-flex__cell {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 1em 0;

	@media screen and (max-width: $bp-xl) {
		flex-direction: column;
	}
}

.c-table-flex__content {
	min-width: 225px;
	padding-bottom: .5em;
}

/**
	*List of details about typography
	*/
.c-table-flex__list {
	list-style: none !important;

	@media screen and (max-width: $bp-xl) {
		margin-left: 0 !important;
	}
}

.c-table-flex__list-head {
	font-weight: 700;
}

.c-table-flex__item {

}
