#typo-head-one {
  font-size: 36px !important;
  font-weight: 300 !important;
  color: $color-gray-typo !important;
}

#typo-head-two {
  font-size: 30px !important;
  font-weight: 300 !important;
  color: $color-gray-typo !important;
}

#typo-head-three {
  font-size: 24px !important;
  font-weight: 300 !important;
  color: $color-gray-typo !important;
}

#typo-head-four {
  font-size: 18px !important;
  font-weight: 300 !important;
  color: $color-gray-typo !important;
}

#typo-head-five {
  font-size: 14px !important;
  font-weight: 300 !important;
  color: $color-gray-typo !important;
}

#typo-head-six {
  font-size: 12px !important;
  font-weight: 300 !important;
  color: $color-gray-typo !important;
}

#typo-text {
  max-width: 440px;
  font-size: 14px !important;
  font-weight: 300 !important;
  color: $color-gray-typo !important;
}
