---
layout: default
---

{% include page-header.html %}

<section class="c-section">

	<div class="c-tabs js-tabs">

		<ul class="c-tabs__list">
			{% for variation in page.variations %}
			<li class="c-tabs__item">
				<a href="#tab-{{ variation.title | downcase | replace: ' ', '-' }}" class="c-tabs__link js-tab" data-code-tabs="tab-{{ variation.title | downcase | replace: ' ', '-' }}">{% if variation.title %}{{ variation.title }}{% endif %}</a>
			</li><!-- end c-tabs__item -->
			{% endfor %}


		</ul><!-- end c-tabs__list -->

		<div class="c-tabs__body">

			{% for variation in page.variations %}
			<div class="c-tabs__panel js-tabs-panel" id="tab-{{ variation.title | downcase | replace: ' ', '-' }}">

				<section class="c-section">
					<header class="c-section__header">
						<!--{% if variation.title %}<h5 class="c-section__title">{{ variation.title }} {% if variation.styleModifier %}<code class="u-font-size-med">{{ variation.styleModifier }}</code>{% endif %}</h5>{% endif %}-->
						{% if variation.description %}<div>{{ variation.description | markdownify }} </div>{% endif %}
					</header>

					<div class="c-tabs ">
						<div class="c-tabs__body">
							<div class="c-eg">
								{% if variation.includeEg %}
								{% assign example = variation.includeEg %}
								{% assign egPath = example | append: '-eg.html' %}
								{% capture file %}components/{{egPath}}{% endcapture %}
								{% include  {{file}} %}
								{% endif %}
							</div>
						</div><!--end c-tabs__body-->
					</div><!--end c-tabs-->
				</section><!--end section-->

			</div><!--end c-tabs__panel-->
		  {% endfor %}

		</div><!--end c-tabs__body-->

	</div><!--end c-tabs-->

</section><!-- end c-section -->

<section class="c-section">

	<div class="c-section-header ">

		<h1 class="c-section-header__title">Utilização</h1>

	</div><!-- end c-section-header -->

	<div class="c-text-passage l-linelength-container">

		{{ content }}

	</div><!-- end c-text-passage -->

</section><!-- end c-section -->
